@use "../../variables.scss";

.series-list {
  margin: 1.5rem 0;

  ul {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 15px;
  }

  .series {
    position: relative;

    .bookmark {
      position: absolute;
      min-width: 32px;
      min-height: 32px;
      border-radius: 50%;
      right: 8px;
      top: 8px;
    }

    img {
      border-radius: 5px;
      min-width: 164px;
      min-height: 110px;
    }

    h4 {
      font-weight: variables.$medium;
      font-size: variables.$sm-med-body;
    }

    p {
      font-weight: variables.$light;
      font-size: variables.$smallest;

      span {
        margin-right: 8px;
        opacity: 0.8;
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      .info-container {
        p {
          display: flex;
          margin-top: 0.5rem;
        }

        .tv-series {
          &:before {
            content: "";
            display: block;
            background: url("/assets/icon-category-tv.svg") no-repeat;
            width: 12px;
            height: 12px;
            float: left;
            position: relative;
            top: 1px;
            margin-right: 6px;
          }
        }
      }
    }
  }
}
