@use "../../variables.scss";

nav {
  background-color: variables.$semidarkblue;
  padding: 1rem 1.2rem;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navigation-icons {
    display: flex;
    gap: 1.5rem;

    .selected {
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
        hue-rotate(90deg) brightness(101%) contrast(102%);
    }

    button {
      cursor: pointer;
    }
  }

  .avatar {
    max-width: 1.5rem;
    border: 1px solid variables.$white;
    border-radius: 50%;
  }
}
