@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap");

$red: #fc4747;
$darkblue: #10141e;
$semidarkblue: #161d2f;
$grayblue: #5a698f;
$white: #ffffff;

// font weights
$light: 300;
$medium: 500;

// font sizes
$large-heading: 2rem;
$medium-heading: 1.5rem;
$xs-heading: 1.125rem;
$medium-body: 0.9375rem;
$small-body: 0.8125rem;

%small-heading {
  font-size: $medium-heading;
  font-weight: $medium;
}
